* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
}

.container {
  height: 70vh;
  width: 70vw;
  border-radius: 16px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container select {
  border-radius: 8px;
  font-size: 20px;
}